* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  gap: 20px;
}
h1 {
  font-size: 70px;
}

#parent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 68%;
  overflow-y: hidden;
  counter-reset: item;
}

#parent li {
  counter-increment: item;
  position: relative;
  padding-left: 40px;
}

#parent li::before {
  content: counter(item) ". ";
  position: absolute;
  left: 0;
  font-weight: bold;
}

li {
  display: flex;
  gap: 10px;
  font-size: 30px;
  font-weight: 550;
  margin-top: 15px;
  margin-right: 30px;
}
input {
  position: absolute;
  bottom: 80px;
  width: 50%;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
  padding-left: 10px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 25px;
  font-size: 18px;
  border-radius: 8px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

button:active {
  scale: 0.95;
}
#save {
  position: absolute;
  bottom: 30px;
}
